// Fonts
$font-main: "Roboto Slab", serif;
$font-special: "Bungee", cursive;

// Colors
$color-dark: #272727;
$color-white: hsl(0, 0%, 97%);
$color-primary: #353f77;
$color-primary-light: #746fa3;
$color-primary-lightest: #eeedf5;
$color-secondary: #bfff2b;
$color-secondary-light: #f5efbc;

// Border
$border-thin: 1px solid $color-primary;

// Spacers

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$spacers: (
  0: 0,
  1: rem(3px),
  2: rem(6px),
  3: rem(12px),
  4: rem(24px),
  5: rem(32px),
  6: rem(48px),
  7: rem(100px),
  8: rem(120px),
);

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px,
);
