.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: bp(lg)) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: bp(xl)) {
  .container {
    max-width: 1170px;
  }
}

.container-columns {
  @extend .container;
  display: grid;
  grid-template-columns: minmax(rem(300px), 1fr) 3fr;
  grid-template-rows: 1fr;
}
