.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: bp(md)) {
  .container {
    width: 750px;
  }
}
@media (min-width: bp(lg)) {
  .container {
    width: 970px;
  }
}
@media (min-width: bp(xl)) {
  .container {
    width: 1170px;
  }
}
