// Fonts
$font-main: "Exo 2", sans-serif;
$font-special: "Bungee", cursive;

// Colors
$color-dark: #091d20;
$color-white: #f7fff7;
$color-primary: #ac25a5;
$color-secondary: #ffea2b;

// Border
$border-thin: 1px solid $color-primary;

// Measures

// Spacers

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$spacers: (
  0: 0,
  1: rem(3px),
  2: rem(6px),
  3: rem(12px),
  4: rem(24px),
  5: rem(32px),
  6: rem(48px),
  7: rem(100px),
  8: rem(120px),
);

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px,
);
